<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Climate App</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1>Welcome to the Hawaii Climate App<br/></h1>
    <img src="{{ user_image }}" alt="surfer riding a wave" width="50%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    <h2>Available Routes:</h2>
    <h3>Precipitation</h3>
    <h4>/api/v1.0/precipitation</h4>
    <p style="text-align: justify; width: 50%; margin: 0 auto;">JSON of average precipitation for each day. <a href="http://127.0.0.1:5000/api/v1.0/precipitation">click here</a></p>
    <h3>Stations</h3>
    <h4>/api/v1.0/stations</h4>
    <p style="text-align: justify; width: 50%; margin: 0 auto;">JSON list of all station IDs. <a href="http://127.0.0.1:5000/api/v1.0/stations">click here</a></p>
    <h3>Temperature</h3>
    <h4>/api/v1.0/tobs</h4>
    <p style="text-align: justify; width: 50%; margin: 0 auto;">JSON of the minimum, average, and maximum temperature for the last year in the dataset. <a href="http://127.0.0.1:5000/api/v1.0/tobs">click here</a></p>
    <h3>Temperature Range</h3>
    <h4>/api/v1.0/(start)</h4>
    <h4>/api/v1.0/(start)/(end)</h4>
    <p style="text-align: justify; width: 50%; margin: 0 auto;">JSON of the minimum, average, and maximum temperature for a certain date range. Dates are passed in YYYY-MM-DD format. Dates range from 2010-01-01 to 2017-08-23. Start endpoint gives data past that date (inclusive) and start/end gives data within that range (inclusive). Link coming soon.</p>
</body>

</html>